<div class="section" id="experience" style="margin-top:-30px">
  <h2>Experience</h2>
  <br>
  <div class="job-cards">
    <div class="job-card">
      <img src="/assets/img/companies/YCHARTSPNG.png" alt="ycharts" class="company-logo">
      <h3>Data Engineering Intern</h3>
      <h4>
        <a href="https://www.ycharts.com/" target="_blank" style="text-decoration: none; color: inherit;">
          YCharts
        </a>
      </h4>
      <p>May. 2025 -> Present</p>
    </div>
    <div class="job-card">
      <img src="/assets/img/companies/cubs.png" alt="cubs" class="company-logo">
      <h3>Undergrad. Researcher</h3>
      <a href="https://www.mlb.com/cubs/" target="_blank" style="text-decoration: none; color: inherit;">
        <h4>Chicago Cubs</h4>
      </a>
      <p>Aug. 2024 -> Present</p>
    </div>
    <div class="job-card">
      <img src="/assets/img/companies/founders.jpeg" alt="founders" class="company-logo">
      <h3>R&D / Executive Board</h3>
      <h4>
        <a href="https://www.foundersillinois.org/" target="_blank" style="text-decoration: none; color: inherit;">
          Founders
        </a>
      </h4>
      <p>Aug. 2023 -> May 2025</p>
    </div>
    <div class="job-card">
      <img src="/assets/img/companies/codehs.png" alt="codehs" class="company-logo">
      <h3>SWE Intern</h3>
      <a href="https://www.codehs.com/" target="_blank" style="text-decoration: none; color: inherit;">
        <h4>CodeHS</h4>
      </a>
      <p>June 2024 -> Aug. 2024</p>
    </div>
    <div class="job-card">
      <img src="/assets/img/companies/otcr.jpeg" alt="codehs" class="company-logo">
      <h3>Consultant</h3>
      <h4>
        <a href="https://otcrconsulting.com/" target="_blank" style="text-decoration: none; color: inherit;">
          OTCR
        </a>
      </h4>
      <p>Feb. 2024 -> May 2024</p>
    </div>
    <div class="job-card">
      <img src="/assets/img/companies/sandia.jpeg" alt="sandia" class="company-logo">
      <h3>Undergrad. Researcher</h3>
      <h4>
        <a href="https://www.sandia.gov/" target="_blank" style="text-decoration: none; color: inherit;">
          Sandia National Labs.
        </a>
      </h4>
      <p>Aug. 2023 -> May 2024</p>
    </div>
    <div class="job-card">
      <img src="/assets/img/companies/invidi.jpeg" alt="invidi" class="company-logo">
      <h3>Software Dev. Intern</h3>
      <h4>
        <a href="https://www.invidi.com/" target="_blank" style="text-decoration: none; color: inherit;">
          INVIDI Technologies
        </a>
      </h4>
      <p>May 2023 -> Aug. 2023</p>
    </div>
    <div class="job-card">
      <img src="/assets/img/companies/coppell.png" alt="chs" class="company-logo">
      <h3>Drumline Instructor</h3>
      <a href="https://www.youtube.com/channel/UCkVTj-mZwFIbVa9leCU2NMw" target="_blank" style="text-decoration: none; color: inherit;">
        <h4>CHS Percussion</h4>
      </a>
      <p>May 2022 -> Aug. 2022</p>
    </div>
    <div class="job-card">
      <img src="/assets/img/companies/techforgood.jpeg" alt="tfg" class="company-logo">
      <h3>ML Intern</h3>
      <a href="https://www.techforgoodinc.org/" target="_blank" style="text-decoration: none; color: inherit;">
        <h4>Tech For Good</h4>
      </a>
      <p>May 2021 -> Aug. 2021</p>
    </div>
    <div class="job-card">
      <img src="/assets/img/companies/nasa.png" alt="nasa" class="company-logo">
      <h3>SEES Intern</h3>
      <a href="https://www.nasa.gov/" target="_blank" style="text-decoration: none; color: inherit;">
        <h4>NASA</h4>
      </a>
      <p>May 2020 -> Aug. 2020</p>
    </div>
  </div>
</div>

<div class="section" id="projects">
  <h2>Projects</h2>
  <br>
  <div class="project-cards">
    {% for project in site.projects %}
      <div class="project-card">
        <a href="{% if project.redirect %}{{ project.redirect }}{% else %}{{ project.url | relative_url }}{% endif %}">
          <div class="h-100 hoverable">
            {% if project.img %}
              {%
                include figure.liquid
                loading="eager"
                path=project.img
                sizes="250px"
                alt="project thumbnail"
                class="card-img-top"
              %}
            {% endif %}
            <div class="card-body">
              <h2 class="card-title">{{ project.title }}</h2>
              <p class="card-text">{{ project.description }}</p>
              <div class="row ml-1 mr-1 p-0">
                {% if project.github %}
                  <div class="github-icon">
                    <div class="icon" data-toggle="tooltip" title="Code Repository">
                      <a href="{{ project.github }}"><i class="fa-brands fa-github gh-icon"></i></a>
                    </div>
                    {% if project.github_stars %}
                      <span class="stars" data-toggle="tooltip" title="GitHub Stars">
                        <i class="fa-solid fa-star"></i>
                        <span id="{{ project.github_stars }}-stars"></span>
                      </span>
                    {% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </a>
      </div>
    {% endfor %}
  </div>
</div>


<div class="section" id="coursework">
  <h2>Coursework</h2>
  <br>
  <div class="course-cards">
    <div class="course-card">
      <h3>CS</h3>
      <ul>
        <li>Deep Learning for Computer Vision</li>
        <li>Database Systems</li>
        <li>Computer Systems</li>
        <li>Algorithms</li>
        <li>Applied Machine Learning</li>
        <li>Data Structures</li>
        <li>Intro CS 1&2 (Kotlin/C++)</li>
        <li>Software Design Lab</li>
        <li>Compilers</li>
        <li>Numerical Methods</li>
      </ul>
    </div>
    <div class="course-card">
      <h3>Stats/Math</h3>
      <ul>
        <li>Stochastic Processes</li>
        <li>Bayesian Statistics</li>
        <li>Statistical Modeling</li>
        <li>Statistics & Probability</li>
        <li>Linear Algebra + Applications</li>
        <li>Multivariable Calculus</li>
        <li>Statistical Modeling 2</li>
        <li>Discrete Math</li>
      </ul>
    </div>
    <div class="course-card">
      <h3>Other</h3>
      <ul>
        <li>High Frequency Trading Technology</li>
        <li>Financial Engineering</li>
        <li>Business Technical Writing</li>
        <li>Mythology of Greece and Rome</li>
        <li>World Music</li>
        <li>Spanish</li>
      </ul>
    </div>
  </div>
</div>

<div class="resume-card">
  <a href="https://drive.google.com/uc?export=download&id=1d6ip2eIOm8twZhdTvjRIulxMulg_8g2y" download class="resume-download-btn">Download Resume</a>
</div>

<style>
:root {
  --text-color: #000000;
  --card-border-color-light: #000000; /* Black border for light mode */
  --card-border-color-dark: #ffffff; /* White border for dark mode */
  --card-shadow-color: rgba(0, 0, 0, 0.1);
  --header-text-color: #343a40;
  --subheader-text-color: #6c757d;
  --current-course-color-light: #bf40bf; /* Light mode color */
  --current-course-color-dark: #007bff; /* Dark mode color */
}

[data-theme='dark'] {
  --text-color: #ffffff;
  --card-shadow-color: rgba(255, 255, 255, 0.1);
  --header-text-color: #f8f9fa;
  --subheader-text-color: #ced4da;
  --current-course-color-light: #bf40bf; /* Light mode color */
  --current-course-color-dark: #007bff; /* Dark mode color */
}

.professional {
  padding: 2rem;
  background-color: var(--background-color);
  color: var(--text-color);
}

.section {
  padding-bottom: 2rem;
}

.job-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.job-card {
  background: var(--card-background-color);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px var(--card-shadow-color);
  color: var(--text-color);
  flex: 1 1 calc(50% - 1.5rem); /* For 2 cards per row */
  max-width: calc(50% - 1.5rem); /* For 2 cards per row */
  position: relative; /* Ensure absolute positioning works */
  border: 1px solid var(--card-border-color-light);
  outline: 2px solid var(--card-border-color-light);
}

[data-theme='dark'] .job-card {
  border: 1px solid var(--card-border-color-dark);
  outline: 2px solid var(--card-border-color-dark);
}

.company-logo {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 60px; /* Increased size */
  height: auto;
}

.job-card h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: var(--header-text-color);
  max-width: calc(100% - 70px); /* Reduce width to avoid running into the logo */
  display: inline-block;
}

.job-card h4 {
  margin: 0;
  font-size: 1.2rem;
  color: var(--subheader-text-color);
}

.job-card p {
  margin: 0.5rem 0;
  color: var(--text-color);
}

.job-card ul {
  margin: 0;
  padding-left: 1.5rem;
  color: var(--text-color);
}

.job-card li {
  margin-bottom: 0.5rem;
}

.project-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.project-card {
  background: var(--background-color);
  border-radius: 8px;
  box-shadow: 0 2px 4px var(--card-shadow-color);
  color: var(--text-color);
  flex: 1 1 calc(33.333% - 1.5rem); /* For 3 cards per row */
  max-width: calc(33.333% - 1.5rem); /* For 3 cards per row */
  border: 1px solid var(--card-border-color-light);
  outline: 2px solid var(--card-border-color-light);
}

[data-theme='dark'] .project-card {
  border: 2px solid var(--card-border-color-dark);
}

.project-card h2 {
  margin-top: 0;
  font-size: 1.5rem;
  color: var(--header-text-color);
}

.project-card p {
  color: var(--text-color);
}

.github-icon {
  display: flex;
  align-items: center;
}

.gh-icon {
  font-size: 1.5rem;
  color: var(--text-color);
}

.stars {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: var(--text-color);
}

[data-theme='dark'] .github-icon .gh-icon {
  color: var(--text-color);
}

[data-theme='dark'] .stars {
  color: var(--text-color);
}

@media screen and (max-width: 992px) {
  .project-card {
    flex: 1 1 calc(100% - 1.5rem); /* For single column layout */
    max-width: calc(100% - 1.5rem); /* For single column layout */
  }

  .project-card h2 {
    font-size: 1.2rem; /* Reduced size for mobile */
  }
}


.course-cards {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.course-card {
  background: var(--background-color);
  border-radius: 8px;
  padding: 1.5rem;
  box-shadow: 0 2px 4px var(--card-shadow-color);
  color: var(--text-color);
  flex: 1 1 calc(33.333% - 1.5rem); /* For 3 cards per row */
  max-width: calc(33.333% - 1.5rem); /* For 3 cards per row */
  border: 1px solid var(--card-border-color-light);
  outline: 2px solid var(--card-border-color-light);
}

[data-theme='dark'] .course-card {
  border: 1px solid var(--card-border-color-dark);
  outline: 2px solid var(--card-border-color-dark);
}

.course-card h3 {
  margin-top: 0;
  font-size: 1.5rem;
  color: var(--header-text-color);
}

.course-card ul {
  margin: 0;
  padding-left: 1.5rem;
  color: var(--text-color);
}

.course-card li {
  margin-bottom: 0.5rem;
}

.current-course {
  color: var(--current-course-color-light);
  font-weight: bold;
}

[data-theme='dark'] .current-course {
  color: var(--current-course-color-dark);
}

.resume-card {
  text-align: center;
}

.resume-download-btn {
  display: inline-block;
  margin-top: 1rem;
  font-size: 1.2rem;
  color: #ffffff; /* White text color for contrast */
  background-color: #007bff; /* Button background color */
  text-decoration: none;
  border: 1px solid #007bff; /* Button border color */
  padding: 0.75rem 1.5rem; /* Larger padding for button-like appearance */
  border-radius: 8px;
  transition: background-color 0.3s, color 0.3s;
}

.resume-download-btn:hover {
  background-color: #0056b3; /* Darker shade for hover effect */
  color: #ffffff;
}

/* Define light and dark mode colors for the resume-download-btn */
.resume-download-btn {
  background-color: var(--current-course-color-light); /* Light mode background color */
  color: #ffffff; /* White text color for contrast */
  border: 1px solid var(--current-course-color-light); /* Light mode border color */
}

[data-theme='dark'] .resume-download-btn {
  background-color: var(--current-course-color-dark); /* Dark mode background color */
  border: 1px solid var(--current-course-color-dark); /* Dark mode border color */
}

/* Hover effect */
.resume-download-btn:hover {
  background-color: var(--current-course-color-light); /* Darker shade for hover effect in light mode */
  color: #ffffff;
}

[data-theme='dark'] .resume-download-btn:hover {
  background-color: var(--current-course-color-dark); /* Light mode color for hover effect in dark mode */
  border: 1px solid var(--current-course-color-light); /* Border color on hover in dark mode */
}


@media screen and (max-width: 992px) {
  .job-card {
    flex: 1 1 calc(100% - 1.5rem); /* For single column layout */
    max-width: calc(100% - 1.5rem); /* For single column layout */
  }

  .job-card h3 {
    font-size: 1.2rem; /* Reduced size for mobile */
    max-width: calc(100% - 60px); /* Reduce width to avoid running into the logo on mobile */
  }

  .company-logo {
    width: 50px; /* Slightly smaller for mobile */
  }

  .course-card {
    flex: 1 1 calc(100% - 1.5rem); /* For single column layout */
    max-width: calc(100% - 1.5rem); /* For single column layout */
  }

  .course-card h3 {
    font-size: 1.2rem; /* Reduced size for mobile */
  }

  .row.row-cols-1.row-cols-md-3 {
    row-gap: 1.5rem; /* Add space between rows */
    column-gap: 1.5rem;
  }
  .col {
    margin-bottom: 1.5rem; /* Add space between columns */
  }
  .section {
    margin-bottom: 2rem; /* Adjust as needed for spacing between sections */
  }

  .job-card {
    margin-bottom: 1.5rem; /* Adjust as needed for spacing */
  }
}

.project-card .course-card .job-card .resume-card{
  justify-content: center;
}
</style>


