---
layout: default
---

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="post">
  <article>
    <div class="intro-section">
      <!-- Typing Effect Section -->
       <div class="typing-effect-container">
          <div class="typing-effect">
            <h1>
              Hey I'm Ashrith. <br> <br> I'm currently <span id="typewriter"></span><span id="cursor">|</span>
            </h1>
          </div>
       </div>

      <!-- Profile Section -->
      <div class="profile">
        {% if page.profile.image %}
          {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
          {% if page.profile.image_circular %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded-circle' %}
          {% else %}
            {% assign profile_image_class = 'img-fluid z-depth-1 rounded' %}
          {% endif %}
          {% capture sizes %}(min-width: {{site.max_width}}) {{ site.max_width | minus: 30 | times: 0.3}}px, (min-width: 576px) 30vw, 95vw{% endcapture %}
          {%
            include figure.liquid loading="eager" path=profile_image_path class=profile_image_class sizes=sizes alt=page.profile.image cache_bust=true
          %}
        {% endif %}
        {% if page.profile.more_info %}
          <div class="more-info">{{ page.profile.more_info }}</div>
        {% endif %}
      </div>
    </div>

    <div class="clearfix">{{ content }}</div>

    <!-- Add margin to the bottom of this div to create space -->
    {% comment %} <div class="spacer"></div> {% endcomment %}

    <!-- Flex container for playlist and text -->
    <div class="flex-container">
      <!-- Playlist Section -->
      <div class="playlist-section">
        <div id="playlist-container"></div>
      </div>

      <div class="intro-content" style="padding-top: 14px;">
        <div class="intro-paragraph" style="position: relative;">
          <p class="intro-text">
            I'm a Computer Science & Statistics Undergrad at the University of Illinois 
            <img src="assets/img/uiucemoji.png" alt="UIUC Emoji" class="emoji"/> , born and raised in Dallas, TX 
            <img src="assets/img/dallas.png" alt="DTX Emoji" class="emoji"/>. 
            My professional interests lie in Data Science, Quant Finance, and ML roles. 
          </p>
          <p class="hobby-text">I spend my free time:</p>
          <ul class="hobby-list">
            <li>Listening to podcasts</li>
            <li>Playing Music</li>
            <li>Running & Lifting</li>
          </ul>
        </div>
      </div>
    </div>

    <!-- Playlist Section -->
    <div class="playlist-section">
      <div id="playlist-container"></div>
    </div>
    
    <!-- 2nd paragraph -->
    <div class="contact-section" style="text-align: center; margin: 20px 0;">
      <p> You can click on the playlist above to see what I'm listening to right now. Please feel free to contact me below.</p>
    </div>

    <!-- Slideshow Section -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="2500">
      <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slideshow/slide1.JPG" alt="Slide 1">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slideshow/slide2.JPG" alt="Slide 2">
        </div>
        <div class="carousel-item">
          <img class="d-block w-100" src="{{ site.baseurl }}/assets/img/slideshow/slide3.JPG" alt="Slide 3">
        </div>
      </div>
      <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>
      <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>
    </div>

    <!-- Contact Form Section -->
    <div class="contact-form-section showcase">
      <div class="contact-content text">
        <h2>Contact Me</h2>
        <form action="https://formspree.io/f/mayrzwww" method="POST" class="contact-form">
          <div class="contact-inputs">
            <input type="text" name="first-name" placeholder="First Name" required>
            <input type="text" name="last-name" placeholder="Last Name" required>
          </div>
          <input type="email" name="email" placeholder="Email" required>
          <input type="text" name="subject" placeholder="Subject" required>
          <textarea name="message" placeholder="Message" required></textarea>
          <button type="submit">Send</button>
        </form>
      </div>
      <div class="overlay"></div>
    </div>

    <!-- Social Icons -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>
        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}
  </article>
</div>

<style>
  .intro-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    min-height: 250px;
    position: relative;
    padding-bottom: 10px; /* Add padding to the bottom of intro section */
    gap: 20px;
  }

  /* small screens */
  @media (max-width: 768px) {
    .intro-section {
      flex-direction: column;
      align-items: center;
      padding: 10px 0;
      margin-bottom: -20px;
    }

    .typing-effect-container {
      order: 2; /* Ensure the typing effect container is placed after the profile picture */
      max-width: 90%;
      overflow: hidden;
      height: 120px;
    }

    .typing-effect {
      margin-top: 10px; /* Add space between profile photo and typing effect */
      max-height: 100%; /* Ensure typing effect text does not exceed screen width */
      text-align: center; /* Center the text */
      padding: 0; /* Remove any extra padding */
      position: sticky;
    }

    .typing-effect h1 {
      font-size: 1.5rem;
      line-height: 1.2; 
      position: relative; 
      max-width: 100%;
      display: inline;
    }

    #typewriter {
      font-size: 1.5rem; /* Adjust font size for mobile devices */
    }

    #cursor.typing {
      font-size: 1.5rem; /* Adjust font size for mobile devices */
    }

    .profile {
      max-width: 150px;
      margin: 0 auto;
      order: 1; /* Ensure the profile picture is above the typing effect container */
    }

  }

  /* bigger screens */
  @media (min-width: 768px) {
    .intro-section {
      flex-direction: row;
    }

    .profile {
      order: 2; /* Move profile to the right of the typing effect */
      margin-left: 20px; /* Add space between typing effect and profile picture */
    }

    .typing-effect {
      order: 1; /* Ensure typing effect is to the left of the profile picture */
    }
  }

  .spacer {
    margin-bottom: 40px;
  }

  .flex-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: nowrap;
    padding-top: 20px; /* Add padding to the top of flex container */
  }

  .intro-content {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto 1fr;
    gap: 10px;
    align-items: start;
    flex: 2 1 60%;
    position: relative;
  }

  .intro-paragraph {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
  }

  .intro-text {
    font-size: 1.2rem;
  }

  .hobby-text {
    font-size: 1.2rem;
    text-align: left;
  }

  .emoji {
    vertical-align: middle;
    margin-bottom: 4px;
    width: 24px;
  }

  .hobby-list {
    list-style-type: disc;
    padding-left: 20px;
    /* margin-top: 10px; */
    font-size: 1.2rem;
    text-align: left;
  }

  .hobby-list li {
    margin-bottom: 20px;
  }

  .playlist-section {
    flex: 1 1 40%;
    padding-top: 0px;
    display: flex;
    align-items: flex-start;
  }

  @media (max-width: 768px) {
    .flex-container {
      flex-direction: column;
    }

    .intro-content {
      display: flex;
      flex-direction: column;
    }

    .intro-paragraph {
      margin-left: 0;
      text-align: center;
    }

    .playlist-section {
      order: 2;
    }
  }

  .showcase .video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    pointer-events: none;
  }

  .showcase .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }

  .showcase .contact-content {
    position: relative;
    z-index: 3;
    text-align: center;
    color: #fff;
    padding: 40px; /* Add padding to contact content */
  }

  .showcase .contact-content h2 {
    font-size: 2rem;
    margin-bottom: 20px;
  }

  @media (min-width: 576px) {
    .showcase .contact-content h2 {
      font-size: 2.5rem;
    }
  }

  @media (min-width: 768px) {
    .showcase .contact-content h2 {
      font-size: 3rem;
    }
  }

  .contact-form-section {
    position: relative;
    overflow: hidden;
  }

  .contact-form-section .contact-form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .contact-form-section .contact-inputs {
    display: flex;
    gap: 1rem;
  }

  .contact-form-section .contact-inputs input {
    flex: 1;
  }

  @media screen and (max-width: 768px) {
    .contact-form-section {
      pointer-events: none;
    }
  }

  .social {
    text-align: center;
    margin-top: 20px;
  }

  .contact-form-section .contact-form button {
    border: 1px solid white;
    background-color: white;
    color: black;
  }

  .contact-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
  }

  .contact-form-section .contact-content h2 {
    color: white;
  }

  .contact-note {
    margin-top: 10px;
  }

  .clearfix::after {
    content: "";
    display: table;
    clear: both;
  }

  /* Contact Section Background Images */
  .contact-form-section {
    position: relative;
    overflow: hidden;
    background-size: cover;
    background-position: center;
  }

  @media (min-width: 769px) {
    .contact-form-section {
      background-image: url('{{ site.baseurl }}/assets/img/webbackground.JPG');
    }
  }

  @media (max-width: 768px) {
    .contact-form-section {
      background-image: url('{{ site.baseurl }}/assets/img/mobilebackground.JPG');
    }
  }

  .contact-form-section .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 1;
  }

  .contact-form-section .contact-content {
    position: relative;
    z-index: 2;
    color: white;
  }
</style>